root = true

# Unix-style newlines with a newline ending every file
[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
insert_final_newline = true
tab_width = 4

# Kotlin files
[*.kt]
indent_size = 4
indent_style = space
max_line_length = 120
continuation_indent_size = 4
ktlint_standard_no-wildcard-imports = disabled

# Kotlin script files
[*.kts]
indent_size = 4
indent_style = space
max_line_length = 120

# XML files
[*.xml]
indent_size = 4
indent_style = space

# YAML files
[*.{yml,yaml}]
indent_size = 2
indent_style = space

# JSON files
[*.json]
indent_size = 2
indent_style = space

# Gradle files
[*.gradle]
indent_size = 4
indent_style = tab

# Markdown files
[*.md]
trim_trailing_whitespace = false
max_line_length = off
